:root{
--text-test:coral;
--background-test:red;
--text-AxlThunder:lightgray;
--background-AxlThunder:#0041cc;
--text-WeenieWhistle:#39FF14;
--background-WeenieWhistle:black;
--text-JBFcrasher:#41D8D8;
--text2-JBFcrasher:#1BB1B1;
--background-JBFcrasher:darkred;
--background2-JBFcrasher:darkred;
--text-inphlox:white;
--background-inphlox:#DF00FF;
--text-Gamedraco:#555500;
--background-Gamedraco:#FFFF00;
--text-LazyComet:black;
--background-LazyComet:#FF8229;
--text-Oxylen:white;
--background-Oxylen:#30D5C8;
--text-TCDejw:red;
--background-TCDejw:black;
--text-LamontyMonty:red;
--background-LamontyMonty:#2B1700;
--text-tofercakes:white;
--background-tofercakes:#8B188B;
--text-DrewUniverse:#8866FF;
--background-DrewUniverse:#2D2D2D;
}



body {
     background-color: black;
}
 a {
      color: inherit;
     font-family: serif;
}
a.links {
     color:red;
     font-family:serif;
}
.navbar {
  overflow: hidden;
  background-color: #101010;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  list-style-type: none;
}
.navbar a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #5A5A5A;
  color: red;
}

.button {
  color:black;
  border: none;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
}
.easybutton {
	background-color: #0000ff;
}
.mediumbutton {
	background-color: #eecc22;
}
.hardbutton {
	background-color: #ee1100;
}
.bonusbutton {
	background-color: #00cc66;
}

 h1 {
     font-size: 24pt;
     /*line-height: 1.08;*/
     text-align: center;
     color:white;
}
 /*h2 {
     display: block;
     font-family: Calibri;
     font-size: 20pt;
     line-height: 1.08;
     margin-left: 0;
     margin-right: 0;
     margin-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     text-align: center;
     color:white;
}
 h3 {
     display: block;
     font-family: Calibri;
     font-size: 18pt;
     line-height: 1.08;
     margin-left: 0;
     margin-right: 0;
     margin-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     text-align: center;
     color:white;
}
 h4{
     display: block;
     font-family: Calibri;
     font-size: 16pt;
     line-height: 1.08;
     margin-left: 0;
     margin-right: 0;
     margin-top: 30pt;
     padding-bottom: 0pt;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     text-align: center;
     color:white;
}*/
 a .hover-img {
     position:relative;
     display: inline-block;
}
 a .hover-img span {
     position:absolute;
     left:-9999px;
     top:-9999px;
     z-index:9999;
     display: inline-block;
}
 a:hover .hover-img span {
     top: 12pt;
     left:0;
     display: inline-block;
}
 p{
     display: inline-block;
     font-size: 12pt;
     font-family: calibri;
     color:white;
     text-indent: 40px;
	 margin: 5px;
}
 ul{
     display: inline-block;
     font-size: 12pt;
     font-family: calibri;
     color:white;
     /*padding-left:40px;*/
}
 li{
     font-size: 12pt;
     font-family: calibri;
     /*padding-left:40px;*/
}
 i{
     display: inline-block;
     font-size: 12pt;
     font-family: calibri;
     color:white;
    /* text-indent: 40px;*/
}

 img {
     display:inline-block;
}
 /*@page {
     margin-bottom: 5pt;
     margin-top: 5pt;
     margin-left: 50pt;
     margin-right: 50pt;
}*/
 .head1 {
     display: block;
     font-family: Calibri;
     font-size: 24pt;
     line-height: 1.08;
     margin-left: 0;
     margin-right: 0;
     margin-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
     padding-top: 0;
     text-align: center 
}
 table.tableizer-table {
     font-size: 12pt;
     border: 1px solid #CCC;
     font-family: Serif;
     color: white;
}
 .tableizer-table td {
     padding: 4px;
     margin: 3px;
     border: 1px solid #CCC;
     color: white;
}
 .tableizer-table th {
     background-color: #2b7cff;
     color: white;
     font-weight: bold;
     font-size:16pt;
}
 table.mtgtable_{
     border: 1px solid white;
     height: 30px;
     color:white;
     border-collapse: collapse;
}
 table.mtgtable_ tr{
     border: 1px solid white;
     height: 30px;
     color:white;
     border-collapse: collapse;
}
 table.mtgtable_ td{
     border: 1px solid white;
     height: 30px;
     color:white;
     border-collapse: collapse;
}
 table.tablepage_{
     border: none;
     border-collapse: collapse;
     width:70%;
}
 table.tablepage_ tr{
     border: none;
     border-collapse: collapse;
}
 table.tablepage_ td{
     border: none;
     border-collapse: collapse;
}
 table.footer {
     width:70%;
}
 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
     margin: auto;
     height: auto;
     padding: 10px;
}
 table.abouttable_{
     border: none;
     border-collapse: collapse;
     width:70%;
}
 table.abouttable_ tr{
     border: none;
     border-collapse: collapse;
}
 table.abouttable_ td{
     border: none;
     border-collapse: collapse;
}
 .small {
     width: 70%;
}
 .achievementname_ {
     font-weight:bold;
     font-size:13pt;
}
 .achievementvalue_ {
     text-align: center;
}
 
 table.timestable{
      color:#0fdcf7;
     border: 1px solid white;
     border-collapse: collapse;
     text-align: center;
     table-layout: fixed;
     width: 100%;
}
 table.timestable th{
    /*color:blue;
    */
     font-weight:bold;
     border: 1px solid white;
     border-collapse: collapse;
     font-size:12pt;
}
 table.timestable td{
     border: 1px solid white;
     border-collapse: collapse;
}
 table.timestable tr{
     border: 1px solid white;
     border-collapse: collapse;
     line-height: 30px;
}
 table.platform_{
     margin: auto;
     padding: 10px;
     height: 30px;
     border-collapse: collapse;
     font-size: 20pt;
}
 table.httable_{
     margin: auto;
     width: 70%;
     padding: 10px;
     border: 1px solid white;
     height: 30px;
     color:white;
     border-collapse: collapse;
}
 table.httable_ tr{
     border: 1px solid white;
     height: 30px;
     color:white;
     border-collapse: collapse;
}
 table.httable_ td{
     border: 1px solid white;
     height: 30px;
     color:white;
     border-collapse: collapse;
}
table.locationtable_{
     margin: auto;
     width: 70%;
     padding: 10px;
     border: 1px solid white;
     height: 30px;
     color:white;
     border-collapse: collapse;
}
 table.locationtable_ tr{
     border: 1px solid white;
     height: 30px;
     color:white;
     border-collapse: collapse;
}
 table.locationtable_ td{
     border: 1px solid white;
     height: 30px;
     color:white;
     border-collapse: collapse;
     text-align: center;
}
 table.tablehead {
     font-weight:bold;
}
 .easy {
     background-color: #0000ff;
      color:black;
}
 .medium {
     background-color: #eecc22;
      color:black;
}
 .hard {
     background-color: #ee1100;
      color:black;
}
 .bonus {
     background-color: #00cc66;
      color:black;
}
 .disclaimer {
     font-style:italic;
     font-size: 8pt;
}
 .form {
    /*font-style:italic;
    */
     font-size: 12 pt;
}
 table.bttable_{
      color:white;
     border: 1px solid white;
     height: 30px;
     border-collapse: collapse;
}
 table.bttable_ tr{
     border: 1px solid white;
     height: 30px;
     border-collapse: collapse;
     font-weight: bold;
}
 table.bttable_ td{
     border: 1px solid white;
     height: 30px;
     border-collapse: collapse;
      width:150px;
}
 table.bttable_ th{
     border: 1px solid white;
     height: 30px;
     border-collapse: collapse;
     color:white;
}

 tr.first td {
     background-color: #DAA520;
}
 tr.second td {
     background-color: #9c9c9c;
}
 tr.third td {
     background-color: #cd7f32;
}

 tr.linktest {
     color:coral;
}
 /*a.times {
     color:#0fdcf7;
     font-weight:bold;
}*/
 /*td.times{
     color:#0fdcf7;
     font-weight:bold;
}
 table.times{
     color:#0fdcf7;
     font-weight:bold;
}*/
.test {
      color:var(--text-test);
     background-color:var(--background-test);
     font-weight:bold;
}
.AxlThunder {
      color:var(--text-AxlThunder);
     background-color:var(--background-AxlThunder);
     font-weight:bold;
}
.WeenieWhistle {
      color:var(--text-WeenieWhistle);
     background-color:var(--background-WeenieWhistle);
     font-weight:bold;
}
.JBFcrasher {
     color:var(--text-JBFcrasher);
     background-color:var(--background-JBFcrasher);
     font-weight:bold;
     --main:var(--text-JBFcrasher);
	--secondary:var(--text2-JBFcrasher);
	--bgmain:var(--background-JBFcrasher);
	--bgsecondary:var(--background2-JBFcrasher);
	animation: color-change 5s infinite;
}
.inphlox {
      color:var(--text-inphlox);
     background-color:var(--background-inphlox);
     font-weight:bold;
}
.Gamedraco {
      color:var(--text-Gamedraco);
     background-color:var(--background-Gamedraco);
     font-weight:bold;
}
.LazyComet {
      color:var(--text-LazyComet);
     background-color:var(--background-LazyComet);
     font-weight:bold;
}
.Oxylen {
      color:var(--text-Oxylen);
     background-color:var(--background-Oxylen);
     font-weight:bold;
}
.TCDejw {
     color:var(--text-TCDejw);
    background-color:var(--background-TCDejw);
    font-weight:bold;
}
.LamontyMonty {
     color:var(--text-LamontyMonty);
    background-color:var(--background-LamontyMonty);
    font-weight:bold;
}
.tofercakes {
     color:var(--text-tofercakes);
    background-color:var(--background-tofercakes);
    font-weight:bold;
}
/*#n64tbki {
     .AxlThunder;
}*/


#idtest {
     color:black;
     background-color:#FF8229;
     font-weight:bold;
}


p.guide {
 color:white;
 padding: 3px;
 text-align:center;
}
h1.guide {
 color:white;
 padding: 1px;
 text-align:center;
}
h2.guide {
 color:white;
 padding: 1px;
 text-align:center;
}
h3.guide {
 color:white;
 padding: 1px;
 text-align:center;
}
h4.guide {
 color:white;
 padding: 1px;
 text-align:center;
}
.unverified {
     font-weight:italic;
}
@keyframes color-change {
  0% { color: var(--main); background-color:var(--bgmain);}
  50% { color: var(--secondary); background-color:var(--bgsecondary); }
  100% { color: var(--main); background-color:var(--bgmain); }
}
